extends layout

block content
  h1= title
  form#WalletForm(action="/resource/wallets", method="POST")
    div.form-group
      label.walletAttr(for='wallets_type') Wallet type
      input#wallets_type(type='text', name='wallets_type')
    div.form-group
      label.walletAttr(for='wallets_color') Wallet color
      input#wallets_color(type='text', name='wallets_color')
    div.form-group
      label.walletAttr(for='wallets_capacity') Wallet capacity
      input#wallets_capacity(type='number', name='wallets_capacity')
    input(type="submit")
    script.
      document.forms['WalletForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO: Show a loading indicator or message to indicate form submission is in progress
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target))
        })
        .then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        })
        .then((body) => {
          alert("Save succeeded")
          // TODO: Handle the response body as needed
        })
        .catch((error) => {
          alert("Save failed " + error)
          // TODO: Handle errors
        });
      });
